<!-- =============== お問い合わせページ =============== -->
  <div class="form_title_box">
    <i class="fas fa-pen fa-2x"></i>
    <span class="form_title">　  お問い合わせフォーム</span>
  </div>

<!-- --------------- 中央に配置 -------------- -->
  <div class="center_main">

<!-- --------------- お問い合わせフォーム -------------- -->
    <%= form_with model: @contact, local: true do |f| %>
      <table class="form_table">
        <tr>
          <th><%= f.label :お名前 %></th>
        </tr>
        <tr>
          <td>
            <div class="form_element">
              <%= f.text_field :name, placeholder: "　桜木健二", autofocus: true %>
              <p class="validation_message"><%= @contact.errors.full_messages_for(:name).first %>
            </div>
          </td>
        </tr>
        <tr>
          <th><%= f.label :メールアドレス %></th>
        </tr>
        <tr>
          <td>
            <div class="form_element">
              <%= f.text_field :email, placeholder: "　sakuragi@kenji.co.jp" %>
              <p class="validation_message"><%= @contact.errors.full_messages_for(:email).first %>
            </div>
          </td>
        </tr>
        <tr>
          <th><%= f.label :メッセージ %></th>
        </tr>
        <tr>
          <td>
            <div class="form_element">
              <%= f.text_area :message, size: "27x8" %>
              <p class="validation_message"><%= @contact.errors.full_messages_for(:message).first %>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="btn_c">
              <%= f.submit "　送信　", data: {confirm: "本当に送信してもよろしいでしょうか。"}, class:"btn_green white" %>
            </div>
          </td>
        </tr>
      </table>
    <% end %>
  </div>