<!-- =============== 部分テンプレート：いいね機能　=============== -->
<!--@post ⇒ post -->

  <% if member_signed_in? %>
    <!-- いいね機能 -->
    <% unless post.liked_by?(current_member) %>
      <span class="like">
        <%= link_to post_post_likes_path(post), method: :post do %>
          ♡<%= post.post_likes.count %> いいね
        <% end %>
      </span>
    <!-- いいね削除機能 -->
    <% else %>
      <span class="like">
        <%= link_to post_post_likes_path(post), method: :delete do %>
          ♥<%= post.post_likes.count %> いいね
        <% end %>
      </span>
    <% end %>
  <!-- 管理者 と ログインしていない場合はいいね数のみ表示 -->
  <% else %>
    <span class="like">
      <p>♥<%= post.post_likes.count %> いいね</p>
    </span>
  <% end %>
