<!-- =============== 部分テンプレート：いいね機能　=============== -->
<!--@post ⇒ post -->

<span class="like">
  <% if member_signed_in? %>
    <!-- いいね機能 -->
    <% unless post.liked_by?(current_member) %>
      <%= link_to post_post_likes_path(post), method: :post do %>
        ♡<%= post.post_likes.count %> いいね
      <% end %>
    <!-- いいね削除機能 -->
    <% else %>
      <%= link_to post_post_likes_path(post), method: :delete do %>
        ♥<%= post.post_likes.count %> いいね
      <% end %>
    <% end %>
  <!-- 管理者 と ログインしていない場合はいいね数のみ表示 -->
  <% else %>
    ♡<%= post.post_likes.count %> いいね
  <% end %>
</span>