<!-- =============== 投稿内容編集ページ　=============== -->
  <div class="form_title_box">
    <i class="fas fa-pen fa-2x"></i>
    <span class="form_title">　  投稿内容編集</span>
  </div>

<!-- --------------- 中央に配置 -------------- -->
  <div class="center_main">

<!-- --------------- table：投稿内容編集フォーム -------------- -->
    <%= form_with model: @post, local: true do |f| %>
      <table class="form_table">
        <tr>
          <th><% f.label :投稿写真%></th>
        </tr>
        <tr>
          <td>
            <div class="form_element">
              <% f.file_field :images, multiple: true, onchange: "loadImage_1(this);" %>
              <div id="preview_1"></div>
              <%= render "public/js/img_preview" %>
            </div>
          </td>
        </tr>
        <tr>
          <th><%= f.label :撮影日　%><span class="required">　必須　</span></th>
        </tr>
        <tr>
          <td>
            <div class="form_element">
              <%= f.date_field :taken_at %>
              <p class="validation_message"><%= @post.errors.full_messages_for(:taken_at).first %>
            </div>
          </td>
        </tr>
        <tr>
          <th><%= f.label :カテゴリー　%><span class="required">　必須　</span></th>
        </tr>
        <tr>
          <td>
            <div class="form_element">
              <%= f.select :category, Post.categories_i18n.invert, {prompt: "選択してください"} %>
              <p class="validation_message"><%= @post.errors.full_messages_for(:category).first %>
            </div>
          </td>
        </tr>
        <tr>
          <th><%= f.label :都道府県　%><span class="required">　必須　</span></th>
        </tr>
        <tr>
          <td>
            <div class="form_element">
              <%= f.select :prefecture, Post.prefectures_i18n.invert, {prompt: "選択してください"} %>
              <p class="validation_message"><%= @post.errors.full_messages_for(:prefecture).first %>
            </div>
          </td>
        </tr>
        <tr>
          <th><%= f.label :市町村　%><span class="required">　必須　</span></th>
        </tr>
        <tr>
          <td>
            <div class="form_element">
              <%= f.text_field :city, placeholder: "　南砺市" %>
              <p class="validation_message"><%= @post.errors.full_messages_for(:city).first %>
            </div>
          </td>
        </tr>
        <tr>
          <th><%= f.label :スポット名　%><span class="required">　必須　</span></th>
        </tr>
        <tr>
          <td>
            <div class="form_element">
              <%= f.text_field :spot_name, placeholder: "　相倉合掌集落" %>
              <p class="validation_message"><%= @post.errors.full_messages_for(:spot_name).first %>
            </div>
          </td>
        </tr>
        <tr>
          <th><%= f.label :旅のメモ　%></th>
        </tr>
        <tr>
          <td>
            <div class="form_element">
              <%= f.text_area :body, size: "30x4" %>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="btn_c">
              <%= f.submit "　変更を保存　", class:"btn_green white" %>
            </div>
          </td>
        </tr>
      </table>
    <% end %>
  </div>