<!-- =============== 投稿詳細ページ =============== -->
<!-- --------------- grid -------------- -->
  <div class="center_main">
    <div class="grid_post_show">

<!-- --------------- grid：タイトルと投稿写真 -------------- -->
      <div class="grid_post_show_A">
        <!--ページタイトル-->
        <div class="show_pref_title">
          <p><%= "#{@post.prefecture_i18n} #{@post.city}" %></p>
        </div>
        <span class="show_spot_title">
          <h4><%= @post.spot_name %></h4>
        </span>
      </div>

<!-- --------------- grid：いいね機能(非同期通信) -------------- -->
      <div class="grid_post_show_B favorite_btn_<%= @post.id %>">
        <%= render "public/post_likes/favorite", post: @post %>
      </div>

<!-- --------------- grid：投稿写真 -------------- -->
      <div class="grid_post_show_C">
        <!--投稿写真-->
        <div class="slider">
          <% if @post.images.attached? %>
            <% @post.images.each do |image| %>
              <div><%= image_tag image, :width => '450' %></div>
            <% end %>
          <% end %>
        </div>
        <div class="thumb">
          <% if @post.images.attached? %>
            <% @post.images.each do |image| %>
              <div><%= image_tag image, :width => '450' %></div>
            <% end %>
          <% end %>
        </div>
        <%= render "/public/js/img_slider" %>


        <!-- 管理者 と 投稿者 のみ[編集]と[削除]を表示 -->
        <% if member_signed_in? && current_member.id == @post.member_id || admin_signed_in? %>
          <span class="btn_green">
            <%= link_to edit_post_path(@post.id), class:"white" do %>
              <span>　</span>
              <i class="fas fa-pencil-alt white">　編集　　</i>
            <% end %>
          </span>
          <span>　　　</span>
          <span class="btn_red">
            <%= link_to post_path(@post.id), method: :delete, class:"white", data: {confirm: "本当に削除しますか？"}  do %>
              <span>　</span>
              <i class="fas fa-trash-alt white">　削除　　</i>
            <% end %>
          </span>
        <% end %>
      </div>

<!-- --------------- grid：投稿者アイコン -------------- -->
      <div class="grid_post_show_D">
        <div class="profile_image_frame">
          <% if @member.profile_image.attached? %>
              <%= image_tag @member.profile_image.variant(resize:'100x100').processed, class:"profile_image" %> <br>
          <% else %>
            <%= image_tag "no_user_image.png", size: '100x100', class:"profile_image"  %>
          <% end %>
        </div>
      </div>

<!-- --------------- grid：投稿内容 -------------- -->
      <div class="grid_post_show_E">
        <div class="margin_b">
          <%= link_to "#{@member.user_name}(#{@member.living_prefecture_i18n})", member_path(@member.id) %>
        </div>
        <div class="margin_l"><%= "撮影日　　：#{@post.taken_at.strftime('%Y年%m月%d日')}" %></div>
        <div class="margin_l"><%= "カテゴリー：#{@post.category_i18n}" %></div>
        <div class="margin_l"><%= "旅のメモ　：#{@post.body}" %></div>
      </div>

<!-- --------------- grid：google maps -------------- -->
      <div class="grid_post_show_F">
        <%= render '/public/js/spot_map', post: @post %>
      </div>

<!-- --------------- grid：コメント(非同期通信) -------------- -->
      <div class="grid_post_show_G">
        <div class="text_center">
          <%= "～　コメント　#{@post.post_comments.count}件　～" %>
        </div>

        <!-- コメント投稿フォーム：ログイン中会員のみ表示 -->
        <div class="comment_create">
          <%= render "public/post_comments/form", post: @post, comment: @comment %>
        </div>

        <!--コメント一覧表示-->
        <div class="comment_index">
          <%= render "public/post_comments/index", post: @post %>
        </div>
      </div>
    </div>
  </div>

<!-- --------------- slick:画面スライダー -------------- -->
