<!-- =============== 投稿詳細ページ =============== -->
<!-- --------------- grid -------------- -->
  <div class="center_main">
    <div class="grid_post_show">

<!-- --------------- grid：タイトルと投稿写真 -------------- -->
      <div class="grid_post_show_A">
        <!--ページタイトル-->
        <div class="sub_title">
          <%= "#{@post.prefecture_i18n} #{@post.city}" %>
        </div>
        <span class="title">
          <span>　</span>
          <%= @post.spot_name %>
        </span>
      </div>

<!-- --------------- grid：いいね機能 -------------- -->
      <div class="grid_post_show_B">
        <span class="like">
          <% if member_signed_in? %>
            <!-- いいね機能 -->
            <% unless @post.liked_by?(current_member) %>
              <%= link_to post_post_likes_path(@post), method: :post do %>
                ♡<%= @post.post_likes.count %> いいね
              <% end %>
            <!-- いいね削除機能 -->
            <% else %>
              <%= link_to post_post_likes_path(@post), method: :delete do %>
                ♥<%= @post.post_likes.count %> いいね
              <% end %>
            <% end %>
          <!-- 管理者 と ログインしていない場合はいいね数のみ表示 -->
          <% else %>
            ♡<%= @post.post_likes.count %> いいね
          <% end %>
        </span>
      </div>

<!-- --------------- grid：投稿写真 -------------- -->
      <div class="grid_post_show_C">
        <!--投稿写真-->
        <div class="post_image">
          <% if @post.images.attached? %>
            <% @post.images.each do |image| %>
              <%= image_tag image, :width => '450' %> <br>
            <% end %>
          <% end %>
        </div>

        <!-- 管理者 と 投稿者 のみ[編集]と[削除]を表示 -->
        <% if member_signed_in? && current_member.id == @post.member_id || admin_signed_in? %>
          <span class="btn_green">
            <%= link_to edit_post_path(@post.id), class:"white" do %>
              <span>　</span>
              <i class="fas fa-pencil-alt white">　編集　　</i>
            <% end %>
          </span>
          <span>　　　</span>
          <span class="btn_red">
            <%= link_to post_path(@post.id), method: :delete, class:"white", data: {confirm: "本当に削除しますか？"}  do %>
              <span>　</span>
              <i class="fas fa-trash-alt white">　削除　　</i>
            <% end %>
          </span>
        <% end %>
      </div>

<!-- --------------- grid：投稿者アイコン -------------- -->
      <div class="grid_post_show_D">
        <div class="profile_image_frame">
          <% if @member.profile_image.attached? %>
              <%= image_tag @member.profile_image.variant(resize:'100x100').processed, class:"profile_image" %> <br>
          <% end %>
        </div>
      </div>

<!-- --------------- grid：投稿内容 -------------- -->
      <div class="grid_post_show_E">
        <%= link_to "#{@member.user_name}(#{@member.living_prefecture_i18n})", member_path(@member.id) %><br>
        <%= "撮影日　　：#{@post.taken_at.strftime('%Y年%m月%d日')}" %><br>
        <%= "カテゴリー：#{@post.category_i18n}" %><br>
        <%= "旅のメモ　：#{@post.body}" %><br><br>
      </div>

<!-- --------------- grid：google maps -------------- -->
      <div class="grid_post_show_F">
        <%= render '/public/posts/spot_map', post: @post %>
      </div>

<!-- --------------- grid：コメント -------------- -->
      <div class="grid_post_show_G">
        <div class="text_center">
          <%= "～　コメント　#{@post.post_comments.count}件　～" %>
        </div>

        <!-- コメント投稿フォーム：ログイン中会員のみ表示 -->
        <% if member_signed_in? %>
          <%= form_with(model:[@post, @post_comment], local: true, class:"form") do |f| %>
            <%= f.text_area :body, placeholder: "コメントをここに", class:"text_area" %>
            <div class="text_center">
              <%= f.submit "送信する" %>
            </div>

          <% end %>
        <% end %>

        <!--コメント表示-->
        <% @post.post_comments.each do |post_comment| %>
          <div class="grid_post_comment">
            <div class="grid_comment_A">
              <% if post_comment.member.profile_image.attached? %>
                  <%= image_tag post_comment.member.profile_image.variant(resize:'50x50').processed, class:"profile_image" %>
              <% end %>
            </div>
            <div class="grid_comment_B">
              <%= post_comment.member.user_name %>
              <span>　　　</span>
              <span class="text_small gray">
                <%= post_comment.created_at.strftime('%Y年%m月%d日 %H:%M') %>
              </span>
            </div>
            <div class="grid_comment_C">
              <%= post_comment.body %>
            </div>
            <div class="grid_comment_D">
              <span class="btn_red">
                <span>　</span>
                <% if post_comment.member == current_member %>
                  <i class="fas fa-trash-alt white"></i>
                  <%= link_to "削除　", post_post_comment_path(post_comment.post, post_comment), method: :delete, class:"white" %>
                <% end %>
              </span>
            </div>
          </div>
        <% end %>


      </div>
    </div>
  </div>