<!-- =============== 管理者：会員一覧ページ =============== -->
  <div class="form_title_box">
    <i class="fas fa-user-plus fa-2x"></i>
    <span class="form_title">　  管理者：会員一覧ページ</span>
  </div>

<!-- --------------- 中央に配置 -------------- -->
  <div class="center_main">

<!-- --------------- 会員一覧表 -------------- -->
    <table class="admin_table">
      <thead>
        <tr>
          <th>アイコン</th>
          <th>会員id</th>
          <th>氏名</th>
          <th>ユーザーネーム</th>
          <th>性別</th>
          <th>生年月日</th>
          <th>居住地</th>
          <th>メールアドレス</th>
        </tr>
      </thead>
      <tbody>
        <% @members.each do |member| %>
          <tr>
            <td>
              <% if member.profile_image.attached? %>
                <%= link_to member_path(member.id), data: { 'turbolinks': false } do %>
                  <%= image_tag  member.profile_image.variant(resize:'50x50').processed %>
                <% end %>
              <% else %>
                <p>―</p>
              <% end %>
            </td>
            <td><%= link_to member.id, edit_admin_member_path(member.id), data: { 'turbolinks': false } %></td>
            <td>
              <%= link_to member.last_name_kana + member.first_name_kana, member_path(member.id), data: { 'turbolinks': false } %><br>
              <%= link_to member.last_name + member.first_name, member_path(member.id), data: { 'turbolinks': false } %>
            </td>
            <td><%= link_to member.user_name, member_path(member.id) %></td>
            <td><%= member.gender_i18n %></td>
            <td><%= member.birthday.strftime('%Y年%m月%d日') %></td>
            <td><%= member.living_prefecture_i18n %></td>
            <td><%= member.email %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
