<!-- =============== 会員登録ページ =============== -->
  <div class="page_title">
    <i class="fas fa-user-plus fa-2x"></i>
    <span class="title">　  管理者ログイン</span>
  </div>

<!-- --------------- 中央に配置 -------------- -->
  <div class="center_main">

<!-- --------------- 会員登録フォーム -------------- -->
    <%= form_with model: @admin, url: admin_session_path, local: true do |f| %>
      <table class="form_table">
        <tr>
          <th><%= f.label :メールアドレス %></th>
        </tr>
        <tr>
          <td>
            <div class="form_element">
              <%= f.email_field :email, autofocus: true, placeholder: "　sakuragi@kenji.co.jp" %>
            </div>
          </td>
        </tr>
        <tr>
          <th><%= f.label :パスワード %></th>
        </tr>
        <tr>
          <td>
            <div class="form_element">
              <%= f.password_field :password %>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="btn_c">
              <%= f.submit "ログイン", class:"btn_green white" %>
            </div>
          </td>
        </tr>
      </table>
    <% end %>
  </div>