<div class="header">
<nav class="nav">
  <ul class="nav_menu">
    <li class="nav_menu_item"><a>ホーム</a>
    <ul class="nav_submenu">
        <div>
        <li class="nav_submenu_item"><a>トップ画面</a></li>
        <li class="nav_submenu_item"><a>概要</a></li>
        </div>
      </ul>
    </li>
    <li class="nav_menu_item"><a>マイページ</a>
    <ul class="nav_submenu">
        <div>
        <li class="nav_submenu_item"><a>マイページ</a></li>
        <li class="nav_submenu_item"><a>マイ写真</a></li>
        <li class="nav_submenu_item"><a>新規投稿</a></li>
        </div>
      </ul>
    </li>
    <li class="nav_menu_item"><a>みんなの写真</a></li>
    <li class="nav_menu_item"><a>お問い合わせ</a></li>
  </ul>
</nav>
</div>

homes_controller / about.html.erb

<!-- お問い合わせフォーム ここから -->
<%= form_with model: @contact, local: true do |f| %>
    <%= f.label :お名前 %>
    <%= f.text_field :name, autofocus: true %><br>

    <%= f.label :メールアドレス %>
    <%= f.text_field :email %><br>

    <%= f.label :メッセージ %>
    <%= f.text_area :message %>

    <%= f.submit '送信' %>
<% end %>
<!-- お問い合わせフォーム　ここまで -->

    <%= link_to "Admin_Log_in", new_admin_session_path %><br>
    <%= link_to "Member_sign_up", new_member_registration_path %><br>
    <%= link_to "Member_Log_in", new_member_session_path %><br>

    <% if member_signed_in? %>
      名：<%= current_member.last_name %><br>
      ID:<%= current_member.id %><br>
      <%= link_to "Member_Log_out", destroy_member_session_path, method: :delete %><br><br>
    <% elsif admin_signed_in? %>
      <%= link_to "Admin_Log_out", destroy_admin_session_path, method: :delete %><br><br>
    <% end %>
    <br>

    <%= link_to image_tag("logo_1.png", :size =>"200x200"), root_path %>
