homes_controller/top.html.erb

<nav>
  <ul>
    <li>
      <%= image_tag 'icon_1.png', class:'icon' %><br>
      <%= image_tag 'nav_1.png' %>
    </li>
    <li>
      <%= image_tag 'icon_2.png', class:'icon' %><br>
      <%= image_tag 'nav_2.png' %>
    </li>
    <li>
      <%= image_tag 'logo_1.png' %>
    </li>
    <li>
      <%= image_tag 'icon_3.png', class:'icon' %><br>
      <%= image_tag 'nav_3.png' %>
    </li>
    <li>
      <%= image_tag 'icon_4.png', class:'icon' %><br>
      <%= image_tag 'nav_4.png' %>
    </li>
  </ul>
</nav>

<footer>
  <%= image_tag 'footer_1.png' %>
</footer>