<!-- =============== トップページ =============== -->
<!-- --------------- メインビジュアル -------------- -->
  <div id="top_main_visual">
    <%= image_tag 'main_visual_1.png', id:"main_visual_img" %>
  </div>

<!-- --------------- ナビゲーションメニュー -------------- -->
  <nav id="nav_top">
    <ul id="grid_top">
      <li id="grid_top_A">
        <%= link_to homes_about_path do %>
          <i class="fas fa-book-open fa-3x faa-bounce animated-hover"></i><br>
        <% end %>
        <%= link_to image_tag("nav_1.png"), homes_about_path %>
      </li>
      <li id="grid_top_B">
        <%= link_to posts_path do %>
          <i class="far fa-images fa-3x faa-bounce animated-hover"></i><br>
        <% end %>
        <%= link_to image_tag("nav_2.png"), posts_path %>
      </li>
      <li id="grid_top_C">
        <%= link_to image_tag("logo_1.png", class:"logo"), root_path %>
      </li>
      <li id="grid_top_D">
        <% if member_signed_in? %>
          <%= link_to member_path(current_member) do %>
            <i class="fas fa-file-signature fa-3x faa-bounce animated-hover"></i><br>
          <% end %>
        <% else %>
          <%= link_to new_member_registration_path do %>
            <i class="fas fa-file-signature fa-3x faa-bounce animated-hover"></i><br>
          <% end %>
        <% end %>
        <%= link_to image_tag("nav_3.png"), new_member_registration_path %>
      </li>
      <li id="grid_top_E">
        <% if member_signed_in? %>
          <%= link_to destroy_member_session_path, method: :delete do %>
            <i class="fas fa-sign-in-alt fa-3x faa-bounce animated-hover"></i><br>
          <% end %>
        <% else %>
          <%= link_to new_member_session_path do %>
            <i class="fas fa-sign-in-alt fa-3x faa-bounce animated-hover"></i><br>
          <% end %>
        <% end %>
        <%= link_to image_tag("nav_4.png"), new_member_session_path %>
      </li>
    </ul>
  </nav>

<!-- --------------- フッター -------------- -->
  <div class="footer_top">
    <%= image_tag 'footer_1.png', :width => '100%' %>
  </div>

