<!--□投稿写真のスクロール-->
<!--□japan_mapの読み込み-->

<!-- =============== 会員詳細ページ =============== -->
<!-- --------------- 背景写真(member/background_image) -------------- -->
  <div class="header_image">
    <% if @member.header_image.attached? %>
      <%= image_tag @member.header_image.variant(resize:'900x900',crop: "900x300+0+150").processed %>
    <% else %>
      <%= image_tag "sky.jpg", size: '900x300' %>
    <% end %>
  </div>

  <!-- --------------- grid -------------- -->
  <div class="center_main">
    <div class="grid_member_show">

<!-- --------------- grid：プロフィール写真(member/profile_image) -------------- -->
      <div class="grid_member_show_A">
        <div class="profile_image_frame">
          <% if @member.profile_image.attached? %>
            <%= image_tag @member.profile_image.variant(resize:'150x150').processed, class:"profile_image" %> <br>
          <% else %>
            <%= image_tag "no_user_image.png", size: '150x150', class:"profile_image"  %>
          <% end %>
        </div>
      </div>

<!-- --------------- grid：プロフィール情報 -------------- -->
      <div class="grid_member_show_B">
        <div class="user_name">
          <span class="l"><%= @member.user_name %></span>
          <span class="m"><%= "(#{@member.living_prefecture_i18n})" %></span>
        </div>

        <%= "#{@member.favorite_word}" %><br><br>
        <span>　</span>
        <%= link_to "#{@member.follow.count} フォロー中　", follows_member_path %>
        <span>　</span>
        <%= link_to "#{@member.followed.count} フォロワー", followers_member_path %>
      </div>

<!-- --------------- grid：プロフィール編集/フォローボタン -------------- -->
      <div class="grid_member_show_C">
        <% if member_signed_in? && current_member == @member %>
          <div class="btn_gray">
            <%= link_to edit_member_path(@member) do %>
              <span>　</span>
              <i class="fas fa-pencil-alt">　プロフィール編集　</i>
            <% end %>
          </div>
        <% elsif member_signed_in? && current_member != @member %>
          <% if current_member.following?(@member) %>
            <%= link_to '　フォロー外す　', unfollow_path(@member.id), method: :POST, class:"btn_blue" %>
          <% else %>
            <%= link_to '　フォローする　', follows_path(@member.id), method: :POST, class:"btn_blue" %>
          <% end %>
        <% elsif admin_signed_in? %>
          強制退会ボタン
        <% end %>
      </div>

<!-- --------------- grid：japan_map -------------- -->
      <div class="grid_member_show_D">
        <%= render '/public/members/visited_map' %>
      </div>

<!-- --------------- grid：投稿等の情報+投稿一覧へのリンク -------------- -->
      <div class="grid_member_show_E">
        <h3><%= link_to "～　#{@member.user_name} の軌跡　～", post_index_member_path %></h3><br>
        <%= "おじゃました都道府県： #{@visiteds.count} / 47" %><br>
        <%= "　これまでの投稿数　： #{@posts.distinct.count} 件" %><br><br>
        <div class="btn_gray">
          <%= link_to post_index_member_path do %>
            <i class="fas fa-camera">　投稿写真一覧</i>
            <% end %>
        </div>
      </div>

<!-- --------------- grid：投稿写真ギャラリー(post/images) -------------- -->
      <div class="grid_member_show_F">
        <div class="border"></div>
        <% @posts.limit(30).each do |post| %>
          <% if post.images.attached? %>
            <% post.images.each do |image| %>
              <%= link_to post_path(post) do %>
                <%= image_tag image, :height => '150' %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>