<!-- =============== 会員詳細ページ =============== -->
<!-- --------------- ページタイトル -------------- -->
  <div class="page_title_member_image">
    <% if @member.profile_image.attached? %>
        <%= image_tag @member.profile_image, :height => '200' %> <br>
    <% end %>
  </div>
  <div class="page_title_user_name">
    <%= "#{@member.user_name}  ( #{@member.living_prefecture_i18n} ) " %>
    <%= render 'public/members/follow', member: @member  %>
  </div>
  <div class="page_subtitle_favorite_word">
    <%= "#{@member.favorite_word}" %>
  </div>
  <div>
    <%= "#{@member.follow.count} フォロー中" %>
    <%= "#{@member.followed.count} フォロワー" %>
  </div>
  <br>


<!-- --------------- 左側：会員の情報 -------------- -->


<!-- --------------- 右側：会員のメイン写真 -------------- -->


<p><%= "アカウント名: #{@member.user_name}" %></p>

<br><br>

<!-- --------------- 訪問済み色分け地図機能 -------------- -->
  <!-- japan_map.jsで設定したjapan_mapを表示 -->
  <%= render '/public/members/visited_map' %>


<!-- --------------- 最新の投稿(仮5件) -------------- -->

<% @latest_posts.limit(5).each do |post| %>
  <div class="slider">
    <% post.images.each do |image| %>
      <%= image_tag image, class:"image_size" %>
    <% end %>
  </div>
  <%= post.taken_at %>
  <%= post.city %>
  <%= post.spot_name %>
<% end %>