<!-- =============== ログインページ =============== -->
  <div class="form_title_box">
    <i class="fas fa-sign-in-alt fa-2x"></i>
    <span class="form_title">　  ログイン</span>
  </div>

<!-- --------------- 中央に配置 -------------- -->
  <div class="center_main">

<!-- --------------- ログインフォーム -------------- -->

<%= form_with model: @member,url: member_session_path, local: true do |f| %>
  <table class="form_table">
    <tr>
      <th>
        <%= f.label :メールアドレス　%><span class="required">　必須　</span>
      </th>
    </tr>
    <tr>
      <td>
        <div class="form_element">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "　test@user.com" %>
          <div class="gray text_small">テストユーザ：test@user.com</div>
        </div>
      </td>
    </tr>
    <tr>
      <th>
        <%= f.label :パスワード　%><span class="required">　必須　</span>

      </th>
    </tr>
    <tr>
      <td>
        <div class="form_element">
          <%= f.password_field :password, autocomplete: "current-password" %>
          <div class="gray text_small">テストユーザ：test_user</div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="form_element">
        <% if devise_mapping.rememberable? %>
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        <% end %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="btn_c">
          <%= f.submit "　ログイン　", class: "btn_green white" %>
        </div>
      </td>
    </tr>
  </table>
<% end %>

</div>

