<nav>
  <ul>
    <li>
      <%= link_to image_tag("icon_1.png", class:"icon"), homes_about_path %><br>
      <%= link_to image_tag("nav_1.png"), homes_about_path %>
    </li>
    <li>
      <%= link_to image_tag("icon_2.png", class:"icon"), posts_index_all_path %><br>
      <%= link_to image_tag("nav_2.png"), posts_index_all_path %>
    </li>
    <li>
      <%= link_to image_tag("logo_1.png", :size =>"200x200"), root_path %>
    </li>
    <li>
      <%= link_to image_tag("icon_3.png", class:"icon"), new_member_registration_path %><br>
      <%= link_to image_tag("nav_3.png"), new_member_registration_path %>
    </li>
    <li>
      <%= link_to image_tag("icon_4.png", class:"icon"), new_member_session_path %><br>
      <%= link_to image_tag("nav_4.png"), new_member_session_path %>
    </li>
  </ul>
</nav>