<!--□ハンバーガーメニュー：リロードしないと無効-->
<!--□ハンバーガーメニュー：ホームとマイページに遷移しない-->

<!-- =============== 部分テンプレート：ヘッダー =============== -->
<!-- --------------- ナビゲーションメニュー -------------- -->
  <div class="header">
    <div class="openbtn1"><span></span><span></span><span></span></div>
    <nav class="nav">
      <ul class="nav_menu">
        <li class="nav_menu_item"><%= link_to "ホーム", root_path %>
        <ul class="nav_submenu">
            <div>
            <li class="nav_submenu_item"><%= link_to "トップ画面", root_path %></li>
            <li class="nav_submenu_item"><%= link_to "概要ページ", homes_about_path %></li>
            </div>
          </ul>
        </li>
        <li class="nav_menu_item"><%= link_to "マイページ", member_path(current_member.id) %>
        <ul class="nav_submenu">
            <div>
            <li class="nav_submenu_item"><%= link_to "マイページ", member_path(current_member.id) %></li>
            <li class="nav_submenu_item"><%= link_to "マイ写真", posts_path %></li>
            <li class="nav_submenu_item"><%= link_to "新規投稿", new_post_path %></li>
            </div>
          </ul>
        </li>
        <li class="nav_menu_item"><%= link_to "みんなの写真", posts_index_everyone_posts_path %></li>
        <li class="nav_menu_item"><%= link_to "お問い合わせ", new_contact_path %></li>
      </ul>
    </nav>
  </div>