<!--□ハンバーガーメニュー：リロードしないと無効-->
<!--□ハンバーガーメニュー：ホームとマイページに遷移しない-->

<!-- =============== 部分テンプレート：ヘッダー =============== -->
  <!--homes/top.html以外に適用-->
  <% unless current_page?(root_path) %>
<!-- --------------- 管理者ログイン中に表示 -------------- -->
    <% if admin_signed_in? %>
      <div class="header">
        <div class="openbtn1"><span></span><span></span><span></span></div>
        <nav class="nav">
          <ul class="nav_menu">
            <li class="nav_menu_item"><%= link_to "ホーム", root_path %></li>
            <li class="nav_menu_item"><%= link_to "会員一覧", admin_members_path %></li>
            <li class="nav_menu_item"><%= link_to "投稿一覧", posts_path %></li>
            <li class="nav_menu_item"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
          </ul>
        </nav>
      </div>

<!-- --------------- 会員ログイン中に表示 -------------- -->
    <% elsif member_signed_in? %>
      <div class="header">
        <div class="openbtn1"><span></span><span></span><span></span></div>
        <nav class="nav">
          <ul class="nav_menu">
            <li class="nav_menu_item"><%= link_to "ホーム", root_path %>
            <ul class="nav_submenu">
                <div>
                <li class="nav_submenu_item"><%= link_to "トップ画面", root_path %></li>
                <li class="nav_submenu_item"><%= link_to "概要ページ", homes_about_path %></li>
                </div>
              </ul>
            </li>
            <li class="nav_menu_item"><%= link_to "マイページ", member_path(current_member.id) %>
            <ul class="nav_submenu">
                <div>
                <li class="nav_submenu_item"><%= link_to "マイページ", member_path(current_member.id) %></li>
                <li class="nav_submenu_item"><%= link_to "マイ写真", post_index_member_path(current_member.id) %></li>
                <li class="nav_submenu_item"><%= link_to "新規投稿", new_post_path %></li>
                </div>
              </ul>
            </li>
            <li class="nav_menu_item"><%= link_to "みんなの写真", posts_path %></li>
            <li class="nav_menu_item"><%= link_to "お問い合わせ", new_contact_path %></li>
          </ul>
        </nav>
      </div>

  <!-- --------------- ログインしていない場合に表示 -------------- -->
    <% else %>
      <div class="header">
        <div class="openbtn1"><span></span><span></span><span></span></div>
        <nav class="nav">
          <ul class="nav_menu">
            <li class="nav_menu_item"><%= link_to "ホーム", root_path %></li>
            <li class="nav_menu_item"><%= link_to "概要ページ", homes_about_path %></li>
            <li class="nav_menu_item"><%= link_to "みんなの写真", posts_path %></li>
            <li class="nav_menu_item"><%= link_to "会員登録", new_member_registration_path %></li>
          </ul>
        </nav>
      </div>
    <% end %>
  <% end %>