<!--□ハンバーガーメニュー：リロードしないと無効-->
<!--□ハンバーガーメニュー：ホームとマイページに遷移しない-->

<!-- =============== 部分テンプレート：ヘッダー =============== -->
  <!--homes/top.html以外に適用-->
  <% unless current_page?(root_path) %>
<!-- --------------- 管理者ログイン中に表示 -------------- -->
    <% if admin_signed_in? %>
        <nav>
          <ul>
            <li><%= link_to "ホーム", root_path %></li>
            <li><%= link_to "会員一覧", admin_members_path %></li>
            <li><%= link_to "投稿一覧", posts_path %></li>
            <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
          </ul>
        </nav>

<!-- --------------- 会員ログイン中に表示 -------------- -->
    <% elsif member_signed_in? %>
      <header class="site-header">
        <div class="gnav_logo"><%= link_to root_path do %><%= image_tag "logo_w.png", size: '92x45' %><% end %></div>
        <nav class="gnav">
          <ul class="gnav_menu">
            <li class="gnav_menu-item"><%= link_to "マイページ", member_path(current_member.id), data: { 'turbolinks': false } %></li>
            <li class="gnav_menu-item"><%= link_to "新規投稿", new_post_path %></li>
            <li class="gnav_menu-item"><%= link_to "みんなの写真", posts_path %></li>
            <li class="gnav_menu-item"><%= link_to "お問い合わせ", new_contact_path %></li>
          </ul>
        </nav>
      </header>



  <!-- --------------- ログインしていない場合に表示 -------------- -->
    <% else %>
        <nav>
          <ul>
            <li><%= link_to "ホーム", root_path %></li>
            <li><%= link_to "概要ページ", homes_about_path %></li>
            <li><%= link_to "みんなの写真", posts_path %></li>
            <li><%= link_to "会員登録", new_member_registration_path %></li>
          </ul>
        </nav>
    <% end %>
  <% end %>


