<!--□ハンバーガーメニュー：リロードしないと無効-->
<!--□ハンバーガーメニュー：ホームとマイページに遷移しない-->

<!-- =============== 部分テンプレート：ヘッダー =============== -->
  <!--homes/top.html以外に適用-->
  <% unless current_page?(root_path) %>
<!-- --------------- 管理者ログイン中に表示 -------------- -->
    <% if admin_signed_in? %>
      <header class="site-header">
        <div class="gnav_logo"><%= link_to root_path do %><%= image_tag "logo_w.png", size: '92x45' %><% end %></div>
        <nav class="gnav">
          <ul>
            <li><%= link_to root_path do %><%= image_tag "nav_5_top.png", size: '84x44' %><% end %></li>
            <li><%= link_to admin_members_path do %><%= image_tag "nav_6_all_m.png", size: '84x44' %><% end %></li>
            <li><%= link_to posts_path do %><%= image_tag "nav_nav_7_all_p.png", size: '84x44' %><% end %></li>
            <li><%= link_to destroy_admin_session_path, method: :delete do %><%= image_tag "nav_11_logout.png", size: '84x44' %><% end %></li>
          </ul>
        </nav>
      </header>

<!-- --------------- 会員ログイン中に表示 -------------- -->
    <% elsif member_signed_in? %>
      <header class="site-header">
        <div class="gnav_logo"><%= link_to root_path do %><%= image_tag "logo_w.png", size: '92x45' %><% end %></div>
        <nav class="gnav">
          <ul class="gnav_menu">
            <li><%= link_to member_path(current_member.id), data: { 'turbolinks': false } do %><%= image_tag "nav_8_my.png", size: '84x44' %><% end %></li>
            <li><%= link_to new_post_path do %><%= image_tag "nav_9_new.png", size: '84x44' %><% end %></li>
            <li><%= link_to posts_path do %><%= image_tag "nav_2_all_p.png", size: '84x44' %><% end %></li>
            <li><%= link_to new_contact_path do %><%= image_tag "nav_10_contact.png", size: '84x44' %><% end %></li>
          </ul>
        </nav>
      </header>
  <!-- --------------- ログインしていない場合に表示 -------------- -->
    <% else %>
      <header class="site-header">
        <div class="gnav_logo"><%= link_to root_path do %><%= image_tag "logo_w.png", size: '92x45' %><% end %></div>
        <nav class="gnav">
          <ul>
            <li><%= link_to homes_about_path do %><%= image_tag "nav_1_about.png", size: '84x44' %><% end %></li>
            <li><%= link_to posts_path do %><%= image_tag "nav_2_all_p.png", size: '84x44' %><% end %></li>
            <li><%= link_to new_member_registration_path do %><%= image_tag "nav_3_sign.png", size: '84x44' %><% end %></li>
            <li><%= link_to new_member_session_path do %><%= image_tag "nav_4_log.png", size: '84x44' %><% end %></li>
          </ul>
        </nav>
      </header>
    <% end %>
  <% end %>


