<!DOCTYPE html>
<html>
  <head>
    <title>OjamaShimashita</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <%= link_to "LogOut", destroy_admin_session_path, method: :delete, class: "logo-font" %>

  <body>
    <%= yield %>
  </body>
</html>
