<!DOCTYPE html>
<html>
  <head>
    <title>OjamaShimashita</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- gem 'gon用-->
    <%= include_gon %>
    <!-- japan_map用 -->
    <%= javascript_include_tag 'jquery.japan-map.min.js' %>
  </head>
  <body>
    <%= link_to "Admin_Log_in", new_admin_session_path %><br>
    <%= link_to "Member_sign_up", new_member_registration_path %><br>
    <%= link_to "Member_Log_in", new_member_session_path %><br>

    <% if member_signed_in? %>
      名：<%= current_member.last_name %><br>
      ID:<%= current_member.id %><br>
      <%= link_to "Member_Log_out", destroy_member_session_path, method: :delete %><br><br>
    <% elsif admin_signed_in? %>
      <%= link_to "Admin_Log_out", destroy_admin_session_path, method: :delete %><br><br>
    <% end %>
    <br>

    <%= yield %>
  </body>
</html>
