<!DOCTYPE html>
<html>
  <head>
    <title>OjamaShimashita</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!--font-awesome用-->
      <script src="https://kit.fontawesome.com/d7ba2cc884.js" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.2.1/font-awesome-animation.css" type="text/css" media="all" />
    <!--google fonts用-->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap" rel="stylesheet">

    <!--レスポンシブデザイン用-->
      <meta name="viewport" content="width=device-width,initial-scale=1.0">
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- gem 'gon用-->
      <%= include_gon %>
    <!-- サイト アイコン用 -->
      <%= favicon_link_tag 'logo_144.ico' %>
      <%= favicon_link_tag 'logo_144.png', rel: 'apple-touch-icon', sizes: '180x180', type: 'image/png' %>
      <%= favicon_link_tag 'logo_144.png', rel: 'android-touch-icon', sizes: '192x192', type: 'image/png' %>
  </head>
<!-- =============== 共通：body =============== -->
  <body>
<!-- --------------- メインビジュアル：トップページと管理者ログイン以外 -------------- -->
    <% if current_page?(root_path) || current_page?(homes_about_path) %>
    <% elsif member_signed_in?&&current_member.header_image.attached? %>
      <%= image_tag current_member.header_image, class:"background_image" %>
      <div class="background_center"></div>
    <% else %>
      <%= image_tag "main_visual_2.jpg", class:"admin_background_image" %>
      <div class="background_center"></div>
    <% end %>


<!-- --------------- ヘッダー：ナビゲーションメニュー -------------- -->
    <%= render 'layouts/header' %>

<!-- --------------- メイン：各HTMLファイル -------------- -->
    <main>
      <%= yield %>
    </main>

<!-- --------------- フッター：コピーライト -------------- -->
    <%= render 'layouts/footer' %>
  </body>
</html>
