<!DOCTYPE html>
<html>
  <head>
    <title>OjamaShimashita</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- gem 'gon用-->
    <%= include_gon %>
    <!-- japan_map用 -->
    <%= javascript_include_tag 'jquery.japan-map.min.js' %>
  </head>
  <body>
    <%= yield %>
    <footer>
      <%= image_tag 'footer_1.png', class:'footer_img' %>
      <p class="copyright">©おじゃましました All rights reserved</p>
    </footer>
  </body>
</html>
